* {
    margin : 0; 
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}


/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD */
/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD */
/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD */
/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD */

/* TITLE TITLE TITLE */
/* TITLE TITLE TITLE */

#title {
    background-color: rgb(95, 95, 95);
    color: white;
    margin: 0;
}

#logo {
    z-index: 0;
    width: 110px;
    float: left;
}

#logo {
    max-width: 100%;
}
#titre {
    padding-top: 2%;
    font-size: 190%;
}

#phraseTitre {
    padding-bottom: 2%;
    font-size: 80%;

}

/* MENU MENU MENU */
/* MENU MENU MENU */

#menu {
    width: 100%;
    background-color: rgb(95, 95, 95);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 0;
}

#menu > ul {
    margin: 0; 
    padding: 0;
}

#menu > ul::after{
    content : ""; 
    display: block;
    clear: both;
}

#menu > ul > li {
    float: right;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    background-color: teal;
    color: white;
    box-shadow: 2px 2px 10px red(5, 94, 105);
}

#menu li {
    list-style-type: none;
}

#menu > ul > li > a {
    padding: 15px 30px;
    color:white;
}

#menu a {
    display: inline-block;
    text-decoration: none;
}


#menu li a:hover{
    background-color: white;
    color: teal;
}


#menu #home a {
    background-color: white;
    color: teal;
}


/* BODY BODY BODY BODY BODY BODY BODY BODY BODY*/
/* BODY BODY BODY BODY BODY BODY BODY BODY BODY*/
/* BODY BODY BODY BODY BODY BODY BODY BODY BODY*/
/* BODY BODY BODY BODY BODY BODY BODY BODY BODY*/
/* BODY BODY BODY BODY BODY BODY BODY BODY BODY*/

#bodyPage {
    margin-bottom: 1%;
    width: auto;
}
/* WELCOME DIV */
#welcome_div{
    background-color: teal;
    text-align: center;
    padding: 5%;
}

#border_title{
    border-bottom: solid white 2px;
    border-top: solid white 2px;
    padding-bottom: 4%;
    padding-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
}

#welcome_sentance{
    font-size: 8vw;
    color: white;

}
#welcome_div #image1 {
    width: 23%;
}
#welcome_div #image2 {
    width: 12%;
}
#welcome_div #image3 {
    width: 8%;
}

#welcome_div #image4 {
    width: 6%;
}

#welcome_image {
    text-align: center;
    margin: 0;
}

#welcome_image img {
    margin-right: 1%;
}

/*presentation div*/
.title_about{
    text-align: center;
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 1%;
    color:rgb(175, 88, 88) ;
    border-bottom: 2px solid rgba(175, 88, 88, 0.719);
}

#pres_steps, #pres_machine, #pres_beetles {
    margin-left: 5%;
    margin-right: 5%;
}

#pres_steps {
    display: flex;
}

#pres1 {
    flex: 50%;
    margin-right: 3%;
    color:rgb(90, 90, 90) ;
    margin: auto;
    width: 100%;
    border: 1px dashed teal;
    text-align: justify;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 3vh;
    height: auto;
}

#pres2 {
    flex: 50%;
}

#pres1 #dear {
    color:teal ;
    text-align: center;
}


    /*table*/
th p {
    padding: 3vh;
    color: teal;
    font-weight: bold;
    font-size: 3vh;
}

.text_table {
    color:rgb(90, 90, 90) ;
    padding: 3%;
    text-align: justify;
}

/*div machine learning*/
#pres_machine {
    color:rgb(90, 90, 90) ;
    text-align: justify;
    line-height: 3vh;
}

/*div beetles*/
#pres_beetles{
    color:rgb(90, 90, 90) ;
    text-align: justify;
    line-height: 3vh;
}

#pres_beetles span{
    color: teal;
    font-weight: bold;
}

#part_beetles{
    display: inline-flex;
}

#elytra, #pronotum, #mandibule, #head {
    flex: auto;
    margin-top: 3%;
    background-color: rgba(231, 228, 228, 0.438);
    padding: 2%;
    flex-wrap: wrap;
}

#elytra, #pronotum, #mandibule {
    margin-right: 1%;
}
#pres_beetles div {
    text-align: justify;
}

#pres_beetles div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    margin-top: 2%;
    margin-bottom: 2%;

}

#anatomy {
    width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#pres_beetles div p {
    text-align: center;
    color:rgb(175, 88, 88) ;
    font-weight: bold;
    margin-bottom: 3%;

}
/* INFO INFO INFO INFO INFO INFO INFO */
/* INFO INFO INFO INFO INFO INFO INFO */
/* INFO INFO INFO INFO INFO INFO INFO */
/* INFO INFO INFO INFO INFO INFO INFO */

/* DESINGN INFORMATION DIV */

#information {
    background-color:rgb(175, 88, 88);
    display: flex;
}

#information div {
    padding :3%;
    text-align: center;
    color: white;
}

#qui {
    flex: auto;
}

#contact{
    flex :auto;
}

#carte {
    flex: auto;
}


#information  h3 {
    border-bottom: rgb(255, 159, 159) 1px solid;
    padding-bottom: 4%;
    color: rgb(255, 159, 159);


}


#information div p {
    padding-top: 3%;
    padding-bottom: 4.4%;
}

#information div a {
    margin : 0;
    padding: 0;
    color: white;
    text-decoration: none;
    padding-top: 2%;
    display: block;
}
#name_web_site {
    text-align: center;
    background-color: rgb(175, 88, 88);
    color: white;
    padding-bottom: 1%;
}

#name_web_site img {
    width: 3%;
}

#name_web_site p {
    vertical-align: middle;
}

/* Bouton retour haut de page*/

#fleche {
    color: white;
    text-align: center;
    font-size: 4vh;
    padding: 10px;
    padding-bottom: 0%;
    background-color: rgba(128, 128, 128, 0.699);
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

#fleche:hover {
    background-color: grey;
}

/*SIDE BAR*/
/*old side bar*/
#side_bar {
display: none;
}

#label_bar:hover {
    background-color: grey;
}

#label_bar{
    color: white;
    text-align: center;
    font-size: 4vh;
    padding: 10px;
    padding-bottom: 0%;
    background-color: rgba(128, 128, 128, 0.699);
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}

/*new side bar*/
#new_side{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.699);
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
    display: none;
}

#close {
    display: none;
}

#label_close {
    padding: 10%;
    font-size: 2vh;
    font-weight: bold;
}

#close:hover {
    background-color: red;
}


#new_side p a {
 text-decoration: none;
 color: white;
 display: block;
 position: relative;
 padding: 10%;
}

#new_side label {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    padding: 10%;
    border-bottom: solid white 1px;
   }

#new_side label span {
    font-size: 2.7vh;
    padding-left: 1%;
}
#new_side p a:hover{
    display: block;
    background-color: rgb(175, 88, 88,0.699);
}


#new_side label:hover{
    display: block;
    background-color: rgb(175, 88, 88,0.699);
}
