
#div {
    width: 384px;
    height: 384px;
    
    padding: 10px;
    border: 1px solid rgb(202, 201, 201);
    opacity: 2;
    }

#menu{
    width: 90%;
    list-style: none;
    text-align: center;
    
}
#menu li{
    display: inline;
    margin-right: 2%;
}

#menu li a {
    display: inline;
    padding: 2%;
    background:  rgb(170, 27, 158);;
    color: rgb(235, 215, 245) ;


  }
